//variables
@import 'variables';

.f_margin {
    margin: 5px;
}

#container_f {
    max-width: 100vw;
    padding: 0;
}

.container {
    .row {
        display: flex;
        justify-content: space-around;
        align-content: space-between;
        flex-wrap: wrap;
    
        flex-direction: row;

        ul {
            list-style: none;
    
            background-color: $lt_gray;

            margin: 15px;
    
            li {
                line-height: 35px;
            }
        }
    }
}

.links-ft {
    color: lightslategray;
    text-decoration: none;

    &:hover {
        color: black;
        text-decoration: underline;
    }
}

.links-ft-two {
    color: black;

    &:hover {
        color: lightslategray;
        text-decoration: none;
    }
}

#last-row-footer {

    justify-content: space-between;
    padding: 0 5%;

    .fab {
        margin-left: 10px;
    }
    
}