//chiedo venia in caso di problemi b.c.

header {

  height: 80px;
  // background-color: #FF5A5F;
  background-color: $benny-red;
  width: 100%;
  z-index: 2;

  .container-header {
    display: flex;
    flex-direction: row;
    height: 80px;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
  }

  .searchbar-header {

    form  {

      padding: 8px 16px;
      border-radius: 10px;
      // border: 1px solid black;
      outline: none;
      background-color: white;
    }

    input,button {
      all: unset;
    }

    button i {

      // background-color: #FF5A5F;
      // border-radius: 100%;
      // padding: 10px;
      // color: white;
      // cursor: pointer;

      padding: 10px;
      color: #FF5A5F;
      cursor: pointer;
    }
  }

  .user-header {

    outline: none;
    display: flex;
    flex-direction: row;
    align-items: center;

    a {

      margin: 0 5px;
      text-decoration: none;
      color: black;
    }

    .login-header-btn,.register-header-btn {

      padding: 7px 14px;
      background-color: white;
      border-radius: 20px;
    }

    .hello-user {

      margin: 0 10px;
    }

    .logout-header-btn,.dashboard-header-btn {

      font-size: 17px;
      padding: 7px 14px;
      background-color: white;
      border-radius: 20px;
    }
  }
}
