//variables
@import 'variables';

.container-ap {

    content: "";
    display: table;
    clear: both;

    .row {
        display: flex;

        width: 100vw;

        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;

        .ap-lyt {
            display: flex;
            justify-content: flex-end;
            flex-direction: column;

            padding: 25px;

            background-color: darkslategray;
            color: white;

            width: 40%;
            height: 250px;

            border-radius: 10px;
            margin: 5%;

            .details {
                span {
                    margin-right: 10px;
                }

                .fas {
                    color: whitesmoke;
                }
            }
        }
    }
}