@import 'variables';


.container-login {

    display: flex;
    flex-direction: row;
    justify-content: center;

    .card-body {

        text-align: center;
    }

    .form-group {

        margin: 10px 0;
    }

    h1:first-of-type {

        display: block;
        text-align: center;
    }

    input {

        margin: 10px 0;
        padding: 3px 6px;
        border-radius: 20px;
        outline: none;
        border-color: $header_red;
    }

    button {

        padding: 10px 20px;
        border-radius: 20px;
        background-color: $header_red;
        border-color: black;
    }

    .forget-psw {

        display: block;
        margin-top: 15px;
    }
}