// Variables
@import 'variables';

* {
    // border: 1px solid red;

    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;

    //test font
    font-family: $font-family-sans-serif;
}

button {

    cursor: pointer;
}

.invisible {

    display: none;
}

.big-button {
    padding: 14px;

    font-size: 18px;

    border-radius: 10px;
    border: none;

    background-color: $cyan;
}

// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');

// lyt-pages
@import 'header_lyt'; //consigliato margin-top: 80px;
@import 'home';
@import 'footer_lyt';
@import 'apartment';
@import 'dashboard';
@import 'register';
@import 'login';
@import 'createapartment';
@import 'searchapartment';

