// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'header_lyt'; //consigliato margin-top: 80px;
@import 'home';
@import 'footer_lyt';
@import 'apartment';
@import 'dashboard';

*{
    // border: 1px solid red;

    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

.invisible {
    display: none;
}
