.container-content {

  height: 700px;
  background-color: #ccc;
  padding-top: 80px;
  display: flex;
  align-items: center;
  // background-image: url('storage/images/bosch.jpg');
  // background-color: darkorange; // solo per il debug, non definitivo
  background-position: top;
  background-size: cover;

  .margin-content {

    width: 80%;
    margin: auto;
  }

  .text-content {

    color: white;
  }
}

.container-evidenza {

  width: 80%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;

  .cities-evidenza {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .cities-box {

      width: 350px;
      height: 500px;
      background-color: salmon;

      .box-img {

        width: 350px;
        height: 350px;
        background-color: sienna;
        
      }
    }
  }
  
}
