@import url(https://fonts.googleapis.com/css?family=Nunito);header {
  height: 80px;
  background-color: #FF5A5F;
  position: fixed;
  top: 0;
  width: 100%;
}

header .container-header {
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 80%;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

header .searchbar-header form {
  padding: 8px 16px;
  border-radius: 10px;
  border: 1px solid black;
  outline: none;
  background-color: white;
}

header .searchbar-header input,
header .searchbar-header button {
  all: unset;
}

header .searchbar-header button i {
  background-color: #FF5A5F;
  border-radius: 100%;
  padding: 10px;
  color: white;
}

header .user-header {
  background-color: white;
  border-radius: 10px;
  outline: none;
}

.container-content {
  height: 700px;
  background-color: #ccc;
  padding-top: 80px;
  display: flex;
  align-items: center;
  background-color: darkorange;
  background-position: top;
  background-size: cover;
}

.container-content .margin-content {
  width: 80%;
  margin: auto;
}

.container-content .text-content {
  color: white;
}

.container-evidenza {
  width: 80%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container-evidenza .cities-evidenza {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-evidenza .cities-evidenza .cities-box {
  width: 350px;
  height: 500px;
  background-color: salmon;
}

.container-evidenza .cities-evidenza .cities-box .box-img {
  width: 350px;
  height: 350px;
  background-color: sienna;
}

#container_f {
  max-width: 100vw;
}

.container .row {
  display: flex;
  justify-content: space-around;
  align-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.container .row ul {
  list-style: none;
  background-color: #d8d8d8;
  margin: 15px;
}

.container .row ul li {
  line-height: 35px;
}

.links-ft {
  color: lightslategray;
  text-decoration: none;
}

.links-ft:hover {
  color: black;
  text-decoration: underline;
}

.links-ft-two {
  color: black;
}

.links-ft-two:hover {
  color: lightslategray;
  text-decoration: none;
}

#last-row-footer {
  justify-content: space-between;
  padding: 0 5%;
}

#last-row-footer .fab {
  margin-left: 10px;
}

* {
  border: 1px solid red;
}

.margins {
  width: 65%;
  margin: auto;
}

.container-flat {
  padding-top: 80px;
  background-color: #ccc;
  height: auto;
  padding-bottom: 40px;
}

.container-flat .flat-description {
  padding-top: 50px;
}

.container-flat .flat-block {
  background-color: white;
  height: auto;
  border-radius: 20px;
}

.container-flat .flat-block .flat-img {
  display: flex;
  justify-content: center;
  width: 700px;
  height: auto;
  margin: auto;
  background-color: salmon;
  border-radius: 20px;
}

.container-flat .flat-block .flat-img img {
  max-width: 100%;
  height: auto;
  margin: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.container-flat .flat-block .container-text {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-around;
  margin-top: 15px;
}

.container-flat .flat-block .container-text .flat-text {
  display: block;
  margin-top: 10px;
  width: 50%;
}

.container-flat .flat-block .container-text .flat-form {
  text-align: center;
}

.container-flat .flat-block .container-text .flat-form input {
  margin: 10px;
}

.container-flat .flat-block .container-text .flat-form .textarea {
  height: 150px;
}

.container-flat .flat-block .container-text .flat-form button {
  background-color: salmon;
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 10px;
}

.container-ap {
  content: "";
  display: table;
  clear: both;
}

.container-ap .row {
  display: flex;
  width: 95vw;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.container-ap .row .ap-lyt {
  background-color: darkslategray;
  text-align: center;
}

body {
  background-color: goldenrod;
}

body .dash {
  margin-top: 80px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.invisible {
  display: none;
}

