@import url(https://fonts.googleapis.com/css?family=Nunito);header {
  height: 80px;
  background-color: white;
  width: 100%;
  z-index: 2;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
}

header .container-header {
  display: flex;
  flex-direction: row;
  height: 80px;
  align-items: center;
  width: 80%;
  margin: auto;
}

header .logo-header {
  flex-basis: calc(100%/3);
}

header .logo-header a {
  margin-left: 10px;
}

header .searchbar-header {
  display: flex;
  flex-basis: calc(100%/3);
  margin: auto;
  justify-content: center;
}

header .searchbar-header form {
  display: flex;
  justify-content: space-between;
  border: 2px solid #FF5A5F;
  border-radius: 10px;
  padding: 5px 10px;
  outline: none;
  background-color: white;
  width: 60%;
}

header .searchbar-header form #searchString {
  width: 80%;
}

header .searchbar-header form input,
header .searchbar-header form button {
  all: unset;
}

header .searchbar-header form button i {
  background-color: inherit;
  border-radius: 100%;
  padding: 10px 0;
  padding-left: 5px;
  color: #FF5A5F;
  cursor: pointer;
  justify-content: flex-end;
}

header .user-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-basis: calc(100%/3);
  height: 80px;
  align-items: center;
}

header .user-header ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

header .user-header a {
  margin: 0 5px;
  text-decoration: none;
  color: black;
}

header .user-header .hamburger {
  background-color: transparent;
  border: 0;
  color: black;
  font-size: 20px;
  display: none;
}

header .user-header .hamburger:focus {
  outline: none;
}

header .user-header .login-header-btn,
header .user-header .register-header-btn {
  padding: 7px 14px;
  background-color: #FF5A5F;
  border-radius: 20px;
}

header .user-header .hello-user {
  margin: 0 10px;
}

header .user-header .logout-header-btn,
header .user-header .dashboard-header-btn {
  font-size: 17px;
  padding: 7px 14px;
  background-color: #FF5A5F;
  border-radius: 20px;
}

@media screen and (max-width: 992px) {
  .container-header {
    width: 100% !important;
    margin: auto;
  }
}

@media all and (max-width: 700px) {
  .logo-header img {
    width: 70% !important;
    flex-shrink: 0;
  }

  .nav-ul {
    display: none !important;
    flex-direction: column !important;
    position: absolute !important;
    right: 10px;
    top: 70px;
    background-color: white;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }

  .nav-ul .dashboard-header-btn,
  .nav-ul .logout-header-btn {
    display: block;
    margin: 3px;
    background-color: transparent !important;
    border: none !important;
  }

  .nav-ul.show {
    display: flex !important;
  }

  .hamburger {
    display: block !important;
    margin-right: 20px !important;
    position: relative !important;
  }

  .searchbar-header form {
    width: 100% !important;
  }

  .searchbar-header form #searchString {
    width: 100% !important;
  }
}

.container-content {
  height: 700px;
  background-color: #ccc;
  padding-top: 80px;
  display: flex;
  align-items: center;
  background-image: url(/images/bosch.jpg?97988beab1eb162eb20784e2419c590e);
  background-position: top;
  background-size: cover;
}

.container-content .margin-content {
  width: 80%;
  margin: auto;
}

.container-content .text-content {
  color: white;
}

.container-evidenza {
  width: 80%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container-evidenza .cities-evidenza {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-evidenza .cities-evidenza .cities-box {
  width: 350px;
  height: 500px;
  background-color: salmon;
}

.container-evidenza .cities-evidenza .cities-box .box-img {
  width: 350px;
  height: 350px;
  background-color: sienna;
}

.container-ap .row {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.container-ap .row:first-child {
  background-color: rgba(211, 211, 211, 0.4);
  padding: 25px 0;
}

.container-ap .row .mini-container {
  margin: 15px 0;
  position: relative;
  z-index: 0;
}

.container-ap .row .mini-container .ap-img {
  width: 40vw;
  border-radius: 10px;
  position: relative;
}

a.prem-apart {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  left: 10px;
  bottom: 10px;
  color: black;
  text-decoration: none;
  line-height: 1.7;
  height: 100%;
  width: 100%;
}

.free-size {
  content: "";
  display: table;
  clear: both;
}

.white-buble {
  background-color: rgba(211, 211, 211, 0.6);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
}

#container_f {
  max-width: 100vw;
}

.container .row {
  display: flex;
  justify-content: space-around;
  align-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.container .row ul {
  list-style: none;
  background-color: #d8d8d8;
  margin: 15px;
}

.container .row ul li {
  line-height: 35px;
}

.links-ft {
  color: lightslategray;
  text-decoration: none;
}

.links-ft:hover {
  color: black;
  text-decoration: underline;
}

.links-ft-two {
  color: black;
}

.links-ft-two:hover {
  color: lightslategray;
  text-decoration: none;
}

#last-row-footer {
  justify-content: space-between;
  padding: 15px 5%;
  background-color: #ffc1c3;
}

#last-row-footer .fab {
  margin-left: 10px;
}

.margins {
  width: 65%;
  margin: auto;
}

@media screen and (max-width: 992px) {
  .margins {
    width: 85%;
    margin: auto;
  }

  input {
    width: 80%;
  }

  .flat-block {
    padding: 10px;
  }
}

@media screen and (max-width: 700px) {
  .container-text {
    flex-wrap: wrap;
  }

  #flat-text-id {
    width: 100%;
  }

  .servizi {
    display: block;
    margin-top: 15px;
  }

  .flat-form {
    margin-top: 15px;
  }
}

.container-flat {
  padding-top: 80px;
  background-color: #f2f2f2;
  height: auto;
  padding-bottom: 40px;
  color: #1b3c59;
}

.container-flat .flat-description {
  padding-top: 50px;
}

.container-flat .flat-block {
  background-color: white;
  height: auto;
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: 0 0 30px 5px #888888;
  padding: 20px;
}

.container-flat .flat-block .flat-img {
  display: flex;
  justify-content: center;
  max-width: 700px;
  height: auto;
  margin: auto;
  background-color: salmon;
  border-radius: 20px;
}

.container-flat .flat-block .flat-img img {
  max-width: 100%;
  height: auto;
  margin: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.container-flat .flat-block .container-text {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-around;
  margin-top: 15px;
}

.container-flat .flat-block .container-text .flat-text {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 50%;
}

.container-flat .flat-block .container-text .flat-text span {
  display: block;
  margin-top: 15px;
}

.container-flat .flat-block .container-text .flat-text ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container-flat .flat-block .container-text .flat-text ul li {
  list-style: none;
  display: inline-block;
  margin-top: 15px;
}

.container-flat .flat-block .container-text .flat-text ul li span {
  display: inline-block;
  font-weight: bold;
}

.container-flat .flat-block .container-text .flat-form {
  text-align: center;
}

.container-flat .flat-block .container-text .flat-form input {
  margin: 10px;
  border: 1px solid #ccc;
  padding: 4px 8px;
  border-radius: 20px;
  outline: none;
}

.container-flat .flat-block .container-text .flat-form textarea {
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 75%;
  outline: none;
  resize: none;
}

.container-flat .flat-block .container-text .flat-form button {
  background-color: salmon;
  padding: 8px 16px;
  margin: 10px 0;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
}

.main-box {
  margin-bottom: 20px;
  font-size: 22px;
}

.main-box .box-side {
  display: flex;
  justify-content: space-around;
}

.main-box .box-side .left-side {
  margin: 20px 0;
}

.main-box .box-side .left-side a {
  font-size: 16px;
}

.main-box .box-side .right-side .box-title h3 {
  margin-bottom: 20px;
}

.main-box .box-side .right-side .box-apart {
  margin: 20px 0;
}

.main-box .box-side .right-side .box-apart p {
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 5px;
}

.main-box .box-side .right-side .box-apart a {
  font-size: 14px;
  margin-left: 10px;
  padding: 3px 6px;
  border-radius: 5px;
  border: 1px solid black;
  text-transform: uppercase;
  text-decoration: none;
}

.main-box .box-side .right-side .box-content {
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 5px;
}

.main-box .box-side .right-side .box-content p {
  padding: 10px 50px;
}

.main-box .box-side .right-side .box-content a {
  font-size: 14px;
  margin-left: 10px;
  padding: 3px 6px;
  border-radius: 5px;
  border: 1px solid black;
  text-transform: uppercase;
  text-decoration: none;
}

.main-box .box-side .stat-side {
  margin: 20px 0;
}

.register-container label {
  width: 150px;
}

.register-container .form-group {
  margin: 20px 0;
}

.register-container h1:first-of-type {
  margin-top: 10px;
  display: block;
  text-align: center;
}

.register-container input {
  padding: 3px 6px;
  border-radius: 20px;
  outline: none;
  border-color: #FF5A5F;
}

.register-container button {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #FF5A5F;
  border-color: black;
}

.container-login {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container-login .card-body {
  text-align: center;
}

.container-login .form-group {
  margin: 20px 0;
}

.container-login h1:first-of-type {
  margin-top: 10px;
  display: block;
  text-align: center;
}

.container-login input {
  margin: 10px 0;
  padding: 3px 6px;
  border-radius: 20px;
  outline: none;
  border-color: #FF5A5F;
}

.container-login button {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #FF5A5F;
  border-color: black;
}

.container-login .forget-psw {
  display: block;
  margin-top: 15px;
}

.create-container,
.edit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-container h1:first-of-type,
.edit-container h1:first-of-type {
  margin-top: 20px;
}

.create-container form,
.edit-container form {
  text-align: center;
}

.create-container form input,
.edit-container form input {
  padding: 5px 10px;
  border-radius: 10px;
}

.create-container form .line,
.edit-container form .line {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px auto;
  width: 60%;
}

.create-container form .cover-img,
.edit-container form .cover-img {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.create-container form .servizih2,
.edit-container form .servizih2 {
  display: block;
  margin-top: 30px;
}

.create-container form .services,
.edit-container form .services {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: auto;
}

.create-container form .services .service,
.edit-container form .services .service {
  display: inline-block;
  margin: 8px;
  width: 200px;
  text-align: center;
}

.create-container form .services .service label,
.edit-container form .services .service label {
  display: inline-block;
  text-align: start;
}

.create-container form .services input,
.create-container form .services label,
.edit-container form .services input,
.edit-container form .services label {
  display: inline;
}

.create-container form .services label,
.edit-container form .services label {
  margin: 5px;
}

.create-container form button,
.edit-container form button {
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 100px;
}

@media screen and (max-width: 1200px) {
  .services {
    width: 80% !important;
  }
}

@media screen and (max-width: 563px) {
  .services {
    width: 100% !important;
  }

  .line {
    width: 100% !important;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.invisible {
  display: none;
}

