@import url(https://fonts.googleapis.com/css2?family=Benne&display=swap);* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  font-family: "Benne", serif;
  /* Track */
  /* Handle */
  /* Handle on hover */
}

* ::-webkit-scrollbar {
  width: 10px;
}

* ::-webkit-scrollbar-track {
  border-radius: 10px;
}

* ::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 10px;
  display: none;
}

* ::-webkit-scrollbar-thumb:hover {
  background: gray;
  display: block;
}

* .box-service {
  margin: 20px 0 20px 70px;
}

* .box-service .my-services input {
  padding: 0 10px;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  width: 80%;
  padding: 50px 0;
  margin: auto;
  flex-grow: 1;
}

button {
  cursor: pointer;
}

.invisible {
  display: none;
}

.big-button {
  padding: 14px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  border: 1px solid #ff5a5f;
}

header {
  height: 80px;
  background-color: white;
  width: 100%;
  z-index: 2;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
}

header .container-header {
  display: flex;
  flex-direction: row;
  height: 80px;
  align-items: center;
  width: 80%;
  margin: auto;
}

header .logo-header {
  flex-basis: calc(100% / 3);
}

header .logo-header a {
  margin-left: 10px;
}

header .searchbar-header {
  display: flex;
  flex-basis: calc(100% / 3);
  margin: auto;
  justify-content: center;
}

header .searchbar-header form {
  display: flex;
  justify-content: space-between;
  border: 2px solid #ff5a5f;
  border-radius: 10px;
  padding: 5px 10px;
  outline: none;
  background-color: white;
  width: 60%;
}

header .searchbar-header form #searchString {
  width: 80%;
}

header .searchbar-header form input,
header .searchbar-header form button {
  all: unset;
}

header .searchbar-header form button i {
  background-color: inherit;
  border-radius: 100%;
  padding: 10px 0;
  padding-left: 5px;
  color: #ff5a5f;
  cursor: pointer;
  justify-content: flex-end;
}

header .user-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-basis: calc(100% / 3);
  height: 80px;
  align-items: center;
}

header .user-header ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

header .user-header a {
  margin: 0 5px;
  text-decoration: none;
  color: black;
}

header .user-header .hamburger {
  background-color: transparent;
  border: 0;
  color: black;
  font-size: 20px;
  display: none;
}

header .user-header .hamburger:focus {
  outline: none;
}

header .user-header .login-header-btn,
header .user-header .register-header-btn {
  padding: 7px 14px;
  border: 2px solid #ff5a5f;
  border-radius: 20px;
  transition: background-color 0.5s, color 0.5s;
}

header .user-header .login-header-btn:hover,
header .user-header .register-header-btn:hover {
  color: white;
  background-color: #ff5a5f;
}

header .user-header .hello-user {
  margin: 0 10px;
}

header .user-header .logout-header-btn,
header .user-header .dashboard-header-btn {
  font-size: 17px;
  padding: 7px 14px;
  border: 2px solid #ff5a5f;
  border-radius: 20px;
  transition: background-color 0.5s, color 0.5s;
}

header .user-header .logout-header-btn:hover,
header .user-header .dashboard-header-btn:hover {
  color: white;
  background-color: #ff5a5f;
}

@media screen and (max-width: 992px) {
  .container-header {
    width: 100% !important;
    margin: auto;
  }
}

@media all and (max-width: 700px) {
  .logo-header img {
    width: 70% !important;
    flex-shrink: 0;
  }

  .logout-header-btn:hover,
  .dashboard-header-btn:hover {
    color: black !important;
  }

  .nav-ul {
    display: none !important;
    flex-direction: column !important;
    position: absolute !important;
    right: 10px;
    top: 70px;
    background-color: white;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }

  .nav-ul .dashboard-header-btn,
  .nav-ul .logout-header-btn {
    display: block;
    margin: 3px;
    background-color: transparent !important;
    border: none !important;
  }

  .nav-ul.show {
    display: flex !important;
  }

  .hamburger {
    display: block !important;
    margin-right: 20px !important;
    position: relative !important;
  }

  .searchbar-header form {
    width: 100% !important;
  }

  .searchbar-header form #searchString {
    width: 100% !important;
  }

  .login-header-btn,
  .register-header-btn {
    margin: 1px !important;
  }
}

.container-content {
  height: 600px;
  background-color: #ccc;
  padding-top: 80px;
  display: flex;
  align-items: center;
  background-image: url(/images/jumbo.jpg?54568fb3f11d2727c260b6970830cb17);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-content .margin-content {
  width: 80%;
  margin: auto;
}

.container-content .text-content {
  color: #000;
}

.container-evidenza {
  width: 80%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container-evidenza .cities-evidenza {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-evidenza .cities-evidenza .cities-box {
  width: 350px;
  height: 500px;
  background-color: salmon;
}

.container-evidenza .cities-evidenza .cities-box .box-img {
  width: 350px;
  height: 350px;
  background-color: sienna;
}

.container-ap .row {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.container-ap .row:first-child {
  padding: 15px 0;
}

.container-ap .row .mini-container {
  margin: 1%;
  position: relative;
  z-index: 0;
  width: 48%;
  height: 250px;
  overflow: hidden;
  border-radius: 10px;
}

.container-ap .row .mini-container .ap-img {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  position: relative;
  margin-top: -125px;
}

#adv-block {
  margin: 50px 0 20px 0;
}

#adv-block h1 {
  text-align: center;
  border-radius: 10px;
  width: 80%;
}

#adv-body {
  width: 98%;
  height: 390px;
  padding: 5%;
  margin: 25px auto;
  line-height: 1.6;
  border-radius: 30px;
  background: linear-gradient(to right, black 42%, rgba(255, 255, 255, 0) 100%), url(/images/woman.jpg?92e97cd46ee196a660d34104aa72ca71) no-repeat right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

#adv-body div {
  width: 50%;
}

#adv-body a {
  margin: 35px 0 0 0;
}

a.prem-apart {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  left: 10px;
  bottom: 10px;
  color: black;
  text-decoration: none;
  line-height: 1.7;
  height: 100%;
  width: 100%;
}

.free-size {
  content: "";
  display: table;
  clear: both;
}

.white-buble {
  background-color: rgba(211, 211, 211, 0.4);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
}

.white-buble .details .fas {
  font-size: 15px;
  line-height: 15px;
  margin-left: 5px;
}

@media screen and (max-width: 800px) {
  .mini-container {
    width: 65% !important;
  }
}

li a {
  list-style-type: none;
  text-decoration: none;
  cursor: pointer;
}

.box-footer .linea {
  border-top: 1px solid lightgray;
}

.box-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 15px 5%;
  max-width: 100vw;
}

.box-footer .container .left-side {
  display: flex;
}

.box-footer .container .left-side ul {
  display: flex;
  align-items: baseline;
  list-style: none;
}

.box-footer .container .left-side ul li {
  padding: 0 10px;
}

.box-footer .container .right-side {
  display: flex;
}

.box-footer .container .right-side ul {
  display: flex;
  align-items: baseline;
  list-style: none;
}

.box-footer .container .right-side ul li {
  padding: 0 5px;
}

@media screen and (max-width: 917px) {
  .box-footer {
    display: flex;
    flex-direction: column;
  }

  .box-footer .container {
    display: flex;
    flex-direction: column;
  }

  .box-footer .container .left-side {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 630px) {
  .container .left-side ul {
    display: flex;
    flex-direction: column;
  }

  .container .left-side ul li {
    margin-top: 10px;
  }
}

.margins {
  width: 65%;
  margin: auto;
}

@media screen and (max-width: 992px) {
  .margins {
    width: 85%;
    margin: auto;
  }

  .flat-block {
    padding: 10px;
  }
}

@media screen and (max-width: 700px) {
  .container-text {
    flex-wrap: wrap;
  }

  #flat-text-id {
    width: 100%;
  }

  .servizi {
    display: block;
    margin-top: 15px;
  }

  .flat-form {
    margin-top: 15px;
  }
}

.container-flat {
  background-color: #f2f2f2;
  height: auto;
  padding-bottom: 40px;
  color: #1b3c59;
}

.container-flat .flat-description {
  padding-top: 50px;
}

.container-flat .flat-block {
  height: auto;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.container-flat .flat-block .flat-img {
  display: flex;
  justify-content: center;
  max-width: 70%;
  height: auto;
  margin: auto;
  border-radius: 20px;
}

.container-flat .flat-block .flat-img img {
  max-width: 100%;
  height: auto;
  margin: 0;
  border-radius: 20px;
}

.container-flat .flat-block .container-text {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  justify-content: space-around;
  margin-top: 15px;
}

.container-flat .flat-block .container-text .flat-text {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 80%;
}

.container-flat .flat-block .container-text .flat-text span {
  display: inline-block;
  margin-top: 15px;
  font-size: 18px;
}

.container-flat .flat-block .container-text .flat-text ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container-flat .flat-block .container-text .flat-text ul li {
  list-style: none;
  display: inline-block;
  padding: 15px 0;
  font-size: 18px;
}

.container-flat .flat-block .container-text .flat-text ul li .rooms-details {
  display: inline-block;
  font-weight: bold;
}

.container-flat .flat-block .container-text .flat-text ul li .rooms-details-number {
  font-size: 23px;
}

.container-flat .flat-block .container-text hr {
  margin: 25px;
}

.flat-form {
  text-align: center;
}

.flat-form input {
  margin: 10px;
  border: 1px solid #ccc;
  padding: 6px 12px;
  border-radius: 20px;
  outline: none;
  font-size: 17px;
}

.flat-form textarea {
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 30%;
  outline: none;
  resize: none;
  text-indent: 10px;
  font-size: 17px;
}

.flat-form button {
  padding: 10px 60px;
  margin: 10px 0;
  border-radius: 10px;
  outline: none;
  border: 2px solid #FF5A5F;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.5s, color 0.5s;
}

.flat-form button:hover {
  background-color: #FF5A5F;
  color: white;
}

.my-apartment {
  width: 65%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.my-apartment .stats {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.my-apartment .stats .stats-container {
  padding-bottom: 50px;
}

.my-apartment .stats .charts {
  padding-bottom: 50px;
}

.my-apartment .stats .charts canvas {
  margin: 40px 0;
}

.my-apartment .messages {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-top: 150px;
  align-items: center;
}

.my-apartment .messages .received-msgs {
  width: 90%;
  margin: auto;
}

.my-apartment .messages .received-msgs .msg {
  overflow-y: auto;
  height: auto;
  padding: 5px 10px;
}

.my-apartment .messages .received-msgs .msg::-webkit-scrollbar {
  width: 10px;
}

.my-apartment .messages .received-msgs .msg::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

.my-apartment .messages .received-msgs .msg::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.my-apartment .messages .received-msgs .msg-row {
  border: 1px solid black;
  padding: 5px;
}

.my-apartment .messages .received-msgs .msg-row .new-msg-from {
  color: #b12c2c;
}

@media screen and (max-width: 1300px) {
  .flat-block {
    flex-direction: column !important;
  }

  .my-apartment {
    flex-direction: column;
  }

  .my-apartment .stats {
    justify-content: center;
    width: 100% !important;
  }

  .my-apartment .messages {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .flat-description {
    text-align: center;
  }

  .flat-text {
    text-align: center;
  }

  .stats-container {
    text-align: center;
  }

  .my-apartment {
    width: 100% !important;
  }

  .messages {
    width: 90% !important;
  }

  .flat-img {
    max-width: 95% !important;
  }

  .charts {
    width: 90vw !important;
    height: 400px !important;
  }
}

.main-box {
  margin-bottom: 20px;
  font-size: 22px;
}

.main-box .box-side {
  display: flex;
  justify-content: space-around;
}

.main-box .box-side .right-side .box-title {
  text-align: center;
}

.main-box .box-side .right-side .box-title h3 {
  margin-bottom: 20px;
}

.main-box .box-side .right-side .box-apart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  padding: 10px 20px;
  border-radius: 5px;
}

.main-box .box-side .right-side .box-apart a {
  font-size: 17px;
  font-weight: bold;
  margin-left: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #FF5A5F;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  transition: background-color 0.5s, color 0.5s;
}

.main-box .box-side .right-side .box-apart a:hover {
  background-color: #FF5A5F;
  color: white;
}

.main-box .box-side .right-side .box-content {
  border: 1px solid black;
  padding: 0 20px;
  border-radius: 20px;
  box-shadow: 0 0 30px #bebdbd;
}

.main-box .box-side .right-side .box-content .apartment-row {
  height: auto;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  position: relative;
}

.main-box .box-side .right-side .box-content .apartment-row .sponsor-alreadysponsored {
  position: absolute;
  top: 10px;
  right: 0;
  color: green;
  border: 1px solid green;
  background-color: inherit;
}

.main-box .box-side .right-side .box-content .apartment-row:last-of-type {
  border-bottom: none;
}

.main-box .box-side .right-side .box-content a {
  font-size: 14px;
  margin-left: 10px;
  padding: 3px 6px;
  border-radius: 5px;
  border: 1px solid #FF5A5F;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  transition: background-color 0.3s, color 0.3s;
}

.main-box .box-side .right-side .box-content a:hover {
  background-color: #FF5A5F;
  color: white;
}

.main-box .box-side .stat-side {
  margin: 20px 0;
}

.register-container label {
  width: 150px;
}

.register-container .form-group {
  margin: 20px 0;
}

.register-container h1:first-of-type {
  margin-top: 10px;
  display: block;
  text-align: center;
}

.register-container input {
  padding: 3px 6px;
  border-radius: 20px;
  outline: none;
  border-color: #FF5A5F;
}

.register-container button {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #FF5A5F;
  border-color: black;
}

.container-login {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container-login .card-body {
  text-align: center;
}

.container-login .form-group {
  margin: 10px 0;
}

.container-login h1:first-of-type {
  display: block;
  text-align: center;
}

.container-login input {
  margin: 10px 0;
  padding: 3px 6px;
  border-radius: 20px;
  outline: none;
  border-color: #FF5A5F;
  border-style: solid;
}

.container-login button {
  padding: 10px 20px;
  border-radius: 20px;
  border-style: solid;
  border-color: #FF5A5F;
  transition: background-color 0.5s, color 0.5s;
}

.container-login button:hover {
  background-color: #FF5A5F;
  color: white;
}

.container-login .forget-psw {
  display: block;
  margin-top: 15px;
}

.create-container,
.edit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-container h1:first-of-type,
.edit-container h1:first-of-type {
  margin-top: 20px;
}

.create-container form,
.edit-container form {
  text-align: center;
}

.create-container form input,
.edit-container form input {
  padding: 20px 40px;
  border-radius: 10px;
  outline: none;
  line-height: 30px;
  font-size: 18px;
}

.create-container form .line,
.edit-container form .line {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px auto;
  width: 60%;
}

.create-container form .line label,
.edit-container form .line label {
  font-weight: bold;
}

.create-container form .line input,
.edit-container form .line input {
  border-color: #ff5a5f;
  border-style: solid;
}

.create-container form .line input::-webkit-outer-spin-button,
.create-container form .line input::-webkit-inner-spin-button,
.edit-container form .line input::-webkit-outer-spin-button,
.edit-container form .line input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.create-container form .cover-img,
.edit-container form .cover-img {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.create-container form .servizih2,
.edit-container form .servizih2 {
  display: block;
  margin-top: 30px;
}

.create-container form .services,
.edit-container form .services {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin: auto;
  justify-content: center;
}

.create-container form .services .service,
.edit-container form .services .service {
  display: inline-block;
  margin: 8px;
  width: 130px;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
}

.create-container form .services .service label,
.edit-container form .services .service label {
  display: inline-block;
  text-align: start;
}

.create-container form .services input,
.create-container form .services label,
.edit-container form .services input,
.edit-container form .services label {
  display: inline;
}

.create-container form .services label,
.edit-container form .services label {
  margin: 5px;
}

.create-container form button,
.edit-container form button {
  padding: 15px 55px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 100px;
  border-style: solid;
  border: 2px solid #FF5A5F;
  background-color: transparent;
  font-weight: bold;
  transition: color 0.5s, background-color 0.5s;
}

.create-container form button:hover,
.edit-container form button:hover {
  background-color: #FF5A5F;
  color: white;
}

@media screen and (max-width: 1200px) {
  .services {
    width: 80% !important;
  }

  .line {
    width: 80% !important;
  }
}

@media screen and (max-width: 700px) {
  .line input {
    padding: 10px 20px !important;
    font-size: 16px !important;
  }
}

@media screen and (max-width: 563px) {
  .services {
    width: 100% !important;
  }

  .line {
    width: 100% !important;
  }
}

#menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#menu .button {
  width: 200px;
  margin: 15px 0;
  padding: 3px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  font-size: 22px;
  color: #ff5a5f;
  text-align: center;
}

#menu .button .des-butt {
  display: none;
}

#menu .button:hover .des-butt {
  display: inline-block;
}

#btn-menu {
  display: flex;
}

.box-service {
  height: 110px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.box-service .dis-flex {
  height: 45%;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #ff5a5f;
  border-radius: 30px;
}

.box-service .filter {
  width: 60%;
}

.box-service .center {
  display: flex;
  align-items: center;
}

.box-service .center label {
  margin-right: 10px;
}

.box-app-map {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 140px);
}

.box-app-map .my-apartments {
  overflow: auto;
}

.box-app-map .my-apartments hr {
  margin: 15px auto;
  width: 90%;
}

.box-app-map .my-apartments .spc-apart {
  height: 25%;
}

.box-app-map .my-apartments .spc-apart a {
  height: 100%;
  padding: 10px;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  color: black;
  text-decoration: none;
}

.box-app-map .my-apartments .spc-apart a #img-box {
  width: 25%;
  height: 80%;
}

.box-app-map .my-apartments .spc-apart a #img-box img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.box-app-map .my-apartments .spc-apart a .ap-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
}

#mymap {
  width: 50vw;
  height: 98%;
}

#container-payment {
  width: 80%;
  margin: 20px auto;
}

#container-payment form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container-payment form section {
  text-align: center;
}

#container-payment form section .amount {
  align-items: center;
}

#container-payment form section .input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

#container-payment form section .input-wrapper .prices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid black;
  padding: 4px;
  margin: 0 20px;
}

#container-payment form section .input-wrapper .prices label {
  padding: 8px;
}

#container-payment form section .input-wrapper .prices label p {
  font-weight: bold;
}

#container-payment form section .input-wrapper .prices label .radio-price {
  display: flex;
  align-items: center;
}

#container-payment form section .input-wrapper .prices label .radio-price input {
  margin: 0 7px;
}

#container-payment form section .bt-drop-in-wrapper {
  width: 100%;
}

#container-payment form button {
  padding: 8px 16px;
}

.title {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  text-align: center;
  margin: 50px 0 20px;
}

.card-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container .card {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.411);
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
}

.card-container .card .elem {
  padding: 5px;
  border-radius: 10px;
  border: 2px solid lightgray;
}

